button {
    border-radius: 50%;
    padding: 5px;
}

.selected {
    background-color: black;
    color: white;
}

span {
    width: auto;
    padding: 10px 20px;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.7);
    margin: 10px;
    border-radius: 10px;

}