/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */


.payment-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.7);
  background-color: #fefeff; */
  /* margin-top: 100px; */
}

.button-container {
  /* margin-top: 15px; */
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

i {
  font-size: 4rem;
  cursor: pointer;
}


i:hover {
  filter: brightness(1000%);
}

i:active {
  transform: translate(0,0.3rem);
  box-shadow: 0 0.1rem rgba(0, 0, 0, 0.4);
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: darkgrey;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(0, 0, 0, 0.7);
}

.image-above {
  padding-top: 200px;
  margin-top: 110px;
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.model-picture {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.main-logo {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  margin-top: 20px;
}

p {
  display: block;
  width: 370px;
}

.red-paragraph {
  color: red;
}